$text-color: #1d1e20;

@font-face {
  font-family: "IBM Plex Sans";
  src: url("./fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("./fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf");
  font-weight: 600;
}

// Increase CSS priority by nesting everything in an element selected by ID, to
// override default bootstrap class selectors
#app {
  color: $text-color;
  height: 100%;

  #title {
    font-weight: 600;
  }

  #header {
    display: flex;
    justify-content: space-between;
  }

  #vis-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "IBM Plex Sans";
  }

  #chart-wrapper {
    width: 100%;
    height: 100%;
  }

  #chart {
    max-height: 100%;
  }

  // Controls
  .btn-group {
    border-radius: 3px;
  }

  .btn {
    font-size: 12px;
  }

  .btn-primary {
    background-color: #ffffff;
    border-color: #d0d9e1;
    color: $text-color;

    &:hover {
      cursor: pointer;
      background-color: #f5f6f7;
    }
  }

  .btn.active {
    background-color: #e8edf3;
  }
}

// Chart tooltip
.chartjs-tooltip {
  opacity: 1;
  position: absolute;
  padding: 8px 10px;
  pointer-events: none;
  background-color: #1d1e20;
  color: #ffffff;
  border-radius: 4px;
  padding-right: 30px;

  .dimension-label {
    color: #bbbfc4;
    font-size: 10px;
    font-weight: 400;
  }

  .pivot-label {
    align-items: center;
    display: flex;

    .pivot-color {
      border-radius: 1px;
      display: inline-block;
      height: 8px;
      width: 8px;
    }

    .pivot-text {
      display: inline-block;
      font-size: 12px;
      font-weight: 600;
      margin-left: 6px;
    }
  }

  .measure-comparison-wrapper {
    display: flex;
    align-items: center;
  }

  .measure-value {
    font-size: 12px;
    font-weight: 400px;
  }

  .period-comparison-wrapper {
    display: flex;
    align-items: center;
    font-size: 10px;
    line-height: 14px;
    display: flex;
    border-radius: 4px;
    padding: 1px 2px;
    margin-left: 10px;
  }

  .positive-background {
    background-color: rgba(0, 188, 64, 0.23);
  }

  .negative-background {
    background-color: rgba(230, 0, 0, 0.25);
  }

  .comparison-value {
    margin-left: 3px;
  }

  .positive-text {
    color: #4bbe00;
  }

  .negative-text {
    color: #ff1e00;
  }

  #comparison-label {
    font-size: 10px;
    margin-left: 6px;
  }
}
